<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="dao.table.ContractDAO" > 
    <insert id="addContract" parameterType="entity.table.Contract">
     insert into contract_table values(
#{id}
,#{contract_number}
,#{contract_date}
,#{contract_addr}
,#{contract_area}
,#{contract_type}
,#{contract_starttime}
,#{contract_endtime}
,#{limit_time}
,#{customer_name}
,#{customer_phone}
,#{designer}
,#{custodian}
,#{servicer}
,#{service_time}
,#{contract_price}
,#{contract_total_price}
,#{management_cost}
,#{rebate}
,#{repay}
,#{first_pay}
,#{second_pay}
,#{third_pay}
,#{last_pay}
,#{buliding_mterials_second}
,#{buliding_mterials_third}
,#{total_pay}
,#{profit}
,#{status}
,#{form_maker}
,#{last_modify}
)
    </insert>
    <insert id="addContracts" parameterType="List">
     insert into contract_table values
    <foreach collection="list" item="item" index="index" open="" separator="," close="" >  
(
#{item.id}
,#{item.contract_number}
,#{item.contract_date}
,#{item.contract_addr}
,#{item.contract_area}
,#{item.contract_type}
,#{item.contract_starttime}
,#{item.contract_endtime}
,#{item.limit_time}
,#{item.customer_name}
,#{item.customer_phone}
,#{item.designer}
,#{item.custodian}
,#{item.servicer}
,#{item.service_time}
,#{item.contract_price}
,#{item.contract_total_price}
,#{item.management_cost}
,#{item.rebate}
,#{item.repay}
,#{item.first_pay}
,#{item.second_pay}
,#{item.third_pay}
,#{item.last_pay}
,#{item.buliding_mterials_second}
,#{item.buliding_mterials_third}
,#{item.total_pay}
,#{item.profit}
,#{item.status}
,#{item.form_maker}
,#{item.last_modify}
)
    </foreach>
    </insert>

    <delete id="delContract" parameterType="int">
     delete from contract_table where id=#{id}
    </delete>

    <delete id="delContracts" parameterType="List">
     delete from contract_table where id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >  
#{item}
    </foreach>

    </delete>


    <update id="updateContract" parameterType="entity.table.Contract">
     update contract_table set 
contract_number=#{contract_number}
,contract_date=#{contract_date}
,contract_addr=#{contract_addr}
,contract_area=#{contract_area}
,contract_type=#{contract_type}
,contract_starttime=#{contract_starttime}
,contract_endtime=#{contract_endtime}
,limit_time=#{limit_time}
,customer_name=#{customer_name}
,customer_phone=#{customer_phone}
,designer=#{designer}
,custodian=#{custodian}
,servicer=#{servicer}
,service_time=#{service_time}
,contract_price=#{contract_price}
,contract_total_price=#{contract_total_price}
,management_cost=#{management_cost}
,rebate=#{rebate}
,repay=#{repay}
,first_pay=#{first_pay}
,second_pay=#{second_pay}
,third_pay=#{third_pay}
,last_pay=#{last_pay}
,buliding_mterials_second=#{buliding_mterials_second}
,buliding_mterials_third=#{buliding_mterials_third}
,total_pay=#{total_pay}
,profit=#{profit}
,status=#{status}
,form_maker=#{form_maker}
,last_modify=#{last_modify}
 where id=#{id}
    </update>

    <update id="updateContracts" parameterType="List">
    <foreach collection="list" item="item" index="index" open="" separator=";" close="" >  
update contract_table
    <set> 
contract_number=#{item.contract_number}
,contract_date=#{item.contract_date}
,contract_addr=#{item.contract_addr}
,contract_area=#{item.contract_area}
,contract_type=#{item.contract_type}
,contract_starttime=#{item.contract_starttime}
,contract_endtime=#{item.contract_endtime}
,limit_time=#{item.limit_time}
,customer_name=#{item.customer_name}
,customer_phone=#{item.customer_phone}
,designer=#{item.designer}
,custodian=#{item.custodian}
,servicer=#{item.servicer}
,service_time=#{item.service_time}
,contract_price=#{item.contract_price}
,contract_total_price=#{item.contract_total_price}
,management_cost=#{item.management_cost}
,rebate=#{item.rebate}
,repay=#{item.repay}
,first_pay=#{item.first_pay}
,second_pay=#{item.second_pay}
,third_pay=#{item.third_pay}
,last_pay=#{item.last_pay}
,buliding_mterials_second=#{item.buliding_mterials_second}
,buliding_mterials_third=#{item.buliding_mterials_third}
,total_pay=#{item.total_pay}
,profit=#{item.profit}
,status=#{item.status}
,form_maker=#{item.form_maker}
,last_modify=#{item.last_modify}
 </set>
where id=#{item.id}
    </foreach>
    </update>


    <select id="findContractById" parameterType="int" resultType="entity.table.Contract">
     select * from contract_table where id=#{id}
    </select>

    <select id="findContractByPage" parameterType="entity.ADO.QueryContract" resultType="entity.table.Contract">
    <include refid="findContract"/>
       order by 
    <if test= " orderby !=null and  orderby!='' " >
     ${orderby}, 
    </if>
    <if test= " orderbyDesc !=null and  orderbyDesc!='' " >
     ${orderbyDesc} desc, 
    </if>
       #{id} limit #{startrows},#{pagesize}
    </select>

    <sql id="findContract">
     select * from contract_table where 1=1

    <if test= " contract_number !=null and  contract_number!='' " >
     and contract_number like concat('%',#{contract_number},'%')
    </if>

    <if test= " contract_date_start !=null and  contract_date_start!='' " >
     <![CDATA[and contract_date >=]]>#{contract_date_start}
    </if>

    <if test= " contract_date_end !=null and  contract_date_end!='' " >
     <![CDATA[and contract_date <=]]>#{contract_date_end}
    </if>

    <if test= " contract_addr !=null and  contract_addr!='' " >
     and contract_addr like concat('%',#{contract_addr},'%')
    </if>

    <if test= " contract_area !=null and  contract_area!='' " >
    <if test= " contract_area_sign !=null and  contract_area_sign!='' " >
     and contract_area ${contract_area_sign} #{contract_area}
    </if>
    </if>

    <if test= " contract_type !=null and  contract_type!='' " >
     and contract_type like concat('%',#{contract_type},'%')
    </if>

    <if test= " contract_starttime_start !=null and  contract_starttime_start!='' " >
     <![CDATA[and contract_starttime >=]]>#{contract_starttime_start}
    </if>

    <if test= " contract_starttime_end !=null and  contract_starttime_end!='' " >
     <![CDATA[and contract_starttime <=]]>#{contract_starttime_end}
    </if>

    <if test= " contract_endtime_start !=null and  contract_endtime_start!='' " >
     <![CDATA[and contract_endtime >=]]>#{contract_endtime_start}
    </if>

    <if test= " contract_endtime_end !=null and  contract_endtime_end!='' " >
     <![CDATA[and contract_endtime <=]]>#{contract_endtime_end}
    </if>

    <if test= " limit_time !=null and  limit_time!='' " >
    <if test= " limit_time_sign !=null and  limit_time_sign!='' " >
     and limit_time ${limit_time_sign} #{limit_time}
    </if>
    </if>

    <if test= " customer_name !=null and  customer_name!='' " >
     and customer_name like concat('%',#{customer_name},'%')
    </if>

    <if test= " customer_phone !=null and  customer_phone!='' " >
     and customer_phone like concat('%',#{customer_phone},'%')
    </if>

    <if test= " designer !=null and  designer!='' " >
     and designer like concat('%',#{designer},'%')
    </if>

    <if test= " custodian !=null and  custodian!='' " >
     and custodian like concat('%',#{custodian},'%')
    </if>

    <if test= " servicer !=null and  servicer!='' " >
     and servicer like concat('%',#{servicer},'%')
    </if>

    <if test= " service_time !=null and  service_time!='' " >
    <if test= " service_time_sign !=null and  service_time_sign!='' " >
     and service_time ${service_time_sign} #{service_time}
    </if>
    </if>

    <if test= " contract_price !=null and  contract_price!='' " >
    <if test= " contract_price_sign !=null and  contract_price_sign!='' " >
     and contract_price ${contract_price_sign} #{contract_price}
    </if>
    </if>

    <if test= " contract_total_price !=null and  contract_total_price!='' " >
    <if test= " contract_total_price_sign !=null and  contract_total_price_sign!='' " >
     and contract_total_price ${contract_total_price_sign} #{contract_total_price}
    </if>
    </if>

    <if test= " management_cost !=null and  management_cost!='' " >
    <if test= " management_cost_sign !=null and  management_cost_sign!='' " >
     and management_cost ${management_cost_sign} #{management_cost}
    </if>
    </if>

    <if test= " rebate !=null and  rebate!='' " >
    <if test= " rebate_sign !=null and  rebate_sign!='' " >
     and rebate ${rebate_sign} #{rebate}
    </if>
    </if>

    <if test= " repay !=null and  repay!='' " >
    <if test= " repay_sign !=null and  repay_sign!='' " >
     and repay ${repay_sign} #{repay}
    </if>
    </if>

    <if test= " first_pay !=null and  first_pay!='' " >
    <if test= " first_pay_sign !=null and  first_pay_sign!='' " >
     and first_pay ${first_pay_sign} #{first_pay}
    </if>
    </if>

    <if test= " second_pay !=null and  second_pay!='' " >
    <if test= " second_pay_sign !=null and  second_pay_sign!='' " >
     and second_pay ${second_pay_sign} #{second_pay}
    </if>
    </if>

    <if test= " third_pay !=null and  third_pay!='' " >
    <if test= " third_pay_sign !=null and  third_pay_sign!='' " >
     and third_pay ${third_pay_sign} #{third_pay}
    </if>
    </if>

    <if test= " last_pay !=null and  last_pay!='' " >
    <if test= " last_pay_sign !=null and  last_pay_sign!='' " >
     and last_pay ${last_pay_sign} #{last_pay}
    </if>
    </if>

    <if test= " buliding_mterials_second !=null and  buliding_mterials_second!='' " >
    <if test= " buliding_mterials_second_sign !=null and  buliding_mterials_second_sign!='' " >
     and buliding_mterials_second ${buliding_mterials_second_sign} #{buliding_mterials_second}
    </if>
    </if>

    <if test= " buliding_mterials_third !=null and  buliding_mterials_third!='' " >
    <if test= " buliding_mterials_third_sign !=null and  buliding_mterials_third_sign!='' " >
     and buliding_mterials_third ${buliding_mterials_third_sign} #{buliding_mterials_third}
    </if>
    </if>

    <if test= " total_pay !=null and  total_pay!='' " >
    <if test= " total_pay_sign !=null and  total_pay_sign!='' " >
     and total_pay ${total_pay_sign} #{total_pay}
    </if>
    </if>

    <if test= " profit !=null and  profit!='' " >
    <if test= " profit_sign !=null and  profit_sign!='' " >
     and profit ${profit_sign} #{profit}
    </if>
    </if>

    <if test= " status !=null and  status!='' " >
    <if test= " status_sign !=null and  status_sign!='' " >
     and status ${status_sign} #{status}
    </if>
    </if>

    <if test= " form_maker !=null and  form_maker!='' " >
     and form_maker like concat('%',#{form_maker},'%')
    </if>

    <if test= " last_modify_start !=null and  last_modify_start!='' " >
     <![CDATA[and last_modify >=]]>#{last_modify_start}
    </if>

    <if test= " last_modify_end !=null and  last_modify_end!='' " >
     <![CDATA[and last_modify <=]]>#{last_modify_end}
    </if>
    </sql>

    <select id="countContractByPage" parameterType="entity.ADO.QueryContract" resultType="int">
      select count(id) from (    <include refid="findContract"/>) list
    </select>


    <select id="findContractByContract_number" parameterType="String" resultType="entity.table.Contract">
       select * from contract_table where contract_number=#{contract_number}
    </select>
    <select id="findContractByContract_addr" parameterType="String" resultType="entity.table.Contract">
       select * from contract_table where contract_addr=#{contract_addr}
    </select>
</mapper> 
